<app-dashboard></app-dashboard>
<app-scroll-to-top-button></app-scroll-to-top-button>
<main class="px-md-4 main-layout">
    <div class="header-image card-border position-relative overflow-hidden m-md-3 text-center bg-body-tertiary">
      <h1 class="display-3 fw-bold">Identificação de irregularidades em bocal ou tampas</h1>
      <h3 class="fw-normal text-muted mb-3"></h3>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="card card-border card-select product1 product-image text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>

      <div class="card card-border card-select product2 product-image text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="card card-border card-select product3 product-image text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>

      <div class="card card-border card-select product4 product-image text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="card card-border card-select product5 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>

      <div class="card card-border card-select product6 product-image text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5"></div>
      </div>
    </div>
</main>

