.image-view {
  display: flex;
  justify-content: center;
}

.align-cards {
  margin-inline: 5px;
  margin-bottom: 10px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 0 0 20%; /* Ocupa 20% da largura disponível */
  margin: 10px; /* Espaçamento entre os cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 50%; /* Ocupa 50% da largura disponível em telas menores */
  }
}

