

.background {
  position: fixed;
  background-size: cover;
}

img {
  margin: 0;
  padding: 0;
}

.login {
  margin-top: 200px;
}

.logo {
  margin-bottom: 40px;
}

.login-form {
  background-color: yellow;
}

.email-field {
  margin-bottom: 25px;
}

.login-button {
  margin-top: 25px;
}

.card {
  width: 500px;
}
