

.background {
  position: fixed;
  width: 100%;
  height: 100%;
}


img {
  margin: 0;
  padding: 0;
}

.login {
  margin-top: 148px;
}

.logo {
  margin-bottom: 40px;
}

.login-form {
  background-color: yellow;
}

.email-field {
  margin-bottom: 25px;
}

.login-button {
  margin-top: 25px;
}

.card {
  width: 500px;
}

.card-shadow {
  box-shadow: 1px 3px 13px 0px;
}

.show-password {
  right: 1px;
  position: absolute;
}

.password-input {
  width: 97%;
}

a {
  text-decoration: none;
  color: #305977;
}


