<app-dashboard></app-dashboard>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

    <div class="header-image position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">

      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Produtos</h1>
        <h3 class="fw-normal text-muted mb-3"></h3>
      </div>

    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="product1 text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
        <button type="button" class="btn-1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct1()">Quantificação de garrafas em engradados</button>
        </div>
      </div>

      <div class="product2 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct2()">Verificação de rosca interna e externa</button>
        </div>
      </div>

    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="product3 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct3()">Qualidade e medição de pneus</button>
        </div>
      </div>

      <div class="product4 text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct4()">Medição de volume em processo contínuo</button>
        </div>
      </div>

    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="product5 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct5()">Controle de qualidade na fabricação de biscoitos</button>
        </div>
      </div>

      <div class="product6 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-6 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct6()">Inspeção de rótulos, tampas e nível de produto</button>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="product7 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct7()">Conferência de embalagens</button>
        </div>
      </div>

      <div class="product8 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-8 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct8()">Identificação de irregularidades em bocal ou tampas</button>
        </div>
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="product9 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct9()">Leitor de caracteres em qualquer material</button>
        </div>
      </div>
      
      <div class="product10 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline" (click)="goToProduct10()">Máquina de cubagem, pesagem e identificação</button>
        </div>
      </div>

    </div>
</main>