<app-dashboard></app-dashboard>
<main class="px-md-4">

    <div class="header-image position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">

      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">Produtos</h1>
        <h3 class="fw-normal text-muted mb-3"></h3>
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="card product1 text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct1()">
        <div class="my-5 py-5">
        <button type="button" class="btn-1 btn btn-lg btn-primary allset-color-inline">Quantificação de garrafas em engradados</button>
        </div>
      </div>

      <div class="card product2 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct2()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Verificação de rosca interna e externa</button>
        </div>
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="card product3 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct3()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Qualidade e medição de pneus</button>
        </div>
      </div>

      <div class="card product4 text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct4()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Medição de volume em processo contínuo</button>
        </div>
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="card product5 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct5()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Controle de qualidade na fabricação de biscoitos</button>
        </div>
      </div>

      <div class="card product6 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct6()">
        <div class="my-5 py-5">
          <button type="button" class="btn-6 btn btn-lg btn-primary allset-color-inline">Inspeção de rótulos, tampas e nível de produto</button>
        </div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="card product7 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct7()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Conferência de embalagens</button>
        </div>
      </div>

      <div class="card product8 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct8()">
        <div class="my-5 py-5">
          <button type="button" class="btn-8 btn btn-lg btn-primary allset-color-inline">Identificação de irregularidades em bocal ou tampas</button>
        </div>
      </div>

    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

      <div class="card product9 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct9()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Leitor de caracteres em qualquer material</button>
        </div>
      </div>

      <div class="card product10 text-bg-dark bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" (click)="goToProduct10()">
        <div class="my-5 py-5">
          <button type="button" class="btn-layout1 btn btn-lg btn-primary allset-color-inline">Máquina de cubagem, pesagem e identificação</button>
        </div>
      </div>

    </div>
</main>
