<button type="button" class="btn btn-outline-primary allset-color-outline" data-bs-toggle="modal" data-bs-target="#myModal" (click)="onImageClick(imagesList)">Ver Imagem</button>

<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>

      <div class="modal-body" *ngFor="let image of selectedImage; let i = index">
        <img class="image-view" src="{{selectedImage[0]}}" alt="">
      </div>

    </div>
  </div>
</div>


