<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Ver Imagem
  </button>
  
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <img class="image-view" src="assets/camera-images/aprovadas/image1.bmp" alt="">
        </div>
  
      </div>
    </div>
  </div>
