body {
  overflow: hidden;
  margin: 0;
}

.user-form {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  width: 44%; /* Can keep the width here if needed */
}

:host {
  background-image: url("/assets/images/signup.webp");
  background-size: cover;
  display: inline-block;
  height: 100vh; /* Use viewport height for full screen */
  width: 100vw; /* Use viewport width for full screen */
}

h1 {
  color: white;
}

.form-layout {
  margin-right: 16px;
  margin-left: 16px;
}

.show-password {
  top: -72px;
  float: right;
  position: relative;
}

.show-password-valid {
  top: -0px;
  float: right;
  position: relative;
}

.show-password-invalid {
  top: -23px;
  float: right;
  position: relative;
}

.password-input {
  width: 92%;
}

.main-signup {
  padding-top: 35px;
}
