.user-form {
  background-color: #bab2b2;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
}

:host {
  background-color: #305977;
  display: flex;
  height: 737px;
}

h1 {
  color: white;
}

.create-user-header {
  margin-top: 50px;
}

.form-layout {
  margin-right: 16px;
  margin-left: 16px;
}

.container-form {
  width: 50%;
  margin-left: 330px;
}

.show-password {
  top: -72px;
  float: right;
  position: relative;
}

.show-password-valid {
  top: -0px;
  float: right;
  position: relative;
}

.show-password-invalid {
  top: -23px;
  float: right;
  position: relative;
  background-color: red;
}

.password-input {
  width: 92%;
}

