<app-dashboard></app-dashboard>
<main class="px-md-4 camera-page-layout">

  <div class="container card-color card-border card-shadow" *ngIf="showCameraStreaming == false">

    <form [formGroup]="form">
      <h5 class="d-flex justify-content-center mb-5">Conecte-se com a câmera inserindo o endereço ip abaixo</h5>

      <div (input)="checkIpAddress(this.form.get('ipAddress')?.value)">

        <div class="form-floating mb-3">
          <input type="form" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="ipAddress" required
          pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
          [ngClass]="{ 'is-invalid': form.invalid && this.isFormInvalid == true, 'is-valid': this.isIpAddressInvalid == false }">
          <label for="floatingInput">Endereço ip</label>
          <div class="invalid-feedback" *ngIf="form.get('ipAddress')?.errors?.['required'] && this.isFormInvalid == true">
            Insire o endereço de ip para conectar-se a câmera!
          </div>
          <div class="invalid-feedback" *ngIf="this.isIpAddressInvalid == true">Endereço ip inválido!</div>
        </div>

      </div>
    </form>

    <div class="mt-5 d-flex justify-content-center">
      <button type="submit" class="btn btn-inline-primary btn-lg allset-color-inline connect-button" (click)="connectCamera()">Conectar</button>
    </div>
  </div>

  <div *ngIf="showCameraStreaming == true" class="row">
    <div class="camera-container">

      <div class="card-border card-color"
        [ngClass]="{ 'loading-container': showIhm == false, 'hide-loading-container': showIhm == true }">

        <div class="spinner-border" role="status" *ngIf="showLoading == true"
          [ngClass]="{ 'show-loading': showIhm == false, 'show-camera': showIhm == true }">
        </div>

        <div class="d-flex justify-content-center reconnect-camera" *ngIf="showLoading == false && showIhm == false">
          <button type="button" class="btn btn-primary btn-lg allset-color-inline" (click)="reloadCameraConnection()">Reconectar</button>
        </div>

        <div *ngIf="showLoading == false && showIhm == true">
          <iframe [src]="cameraPath" class="camera-view card-border"></iframe>
        </div>
      </div>
    </div>

    <div class="table-layout card-border card-color" *ngIf="showIhm == true">
      <div class="table-title d-flex justify-content-center">
        <h2>Estatísticas</h2>

        <div class="select-file-icon" *ngIf="hasFileContent == true">
          <input type="file" id="actual-btn" hidden  (change)="selectFile($event)"/>
           <label for="actual-btn">
            <i class="bi bi-file-earmark-plus select-other-file"></i>
           </label>
        </div>

        <div class="select-file-icon refresh-file-icon" *ngIf="hasFileContent == true">
          <i class="bi bi-arrow-clockwise select-other-file"  (click)="refreshFile()"></i>
        </div>
      </div>

      <div *ngIf="hasFileContent == false">
        <div>
          <h5 class="d-flex justify-content-center mt-5">Selecione um arquivo para analisar</h5>
        </div>

        <div class="mt-3 d-flex justify-content-center">
           <input type="file" id="actual-btn" hidden  (change)="selectFile($event)"/>
           <label for="actual-btn" class="upload-button allset-color-inline">Escolher Arquivo</label>
        </div>
      </div>

      <div *ngIf="hasFileContent == true">
        <div class="table-container">
          <table class="table table-secondary table-borderless">
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>{{fileContent}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

