<app-dashboard></app-dashboard>
<main class="px-md-4 camera-page-layout">

  <div class="container" *ngIf="showCameraStreaming == false">

    <form [formGroup]="form">


      <h5 class="d-flex justify-content-center mb-5">Conecte-se com a câmera inserindo o endereço ip abaixo</h5>

      <div (input)="teste(this.form.get('enderecoIp')?.value)">

        <div class="form-floating mb-3">
          <input type="form" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="enderecoIp"  required
          pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
          [ngClass]="{ 'is-invalid': form.invalid && this.isFormInvalid == true, 'is-valid': form.valid && this.isFormInvalid == false}">
          <label for="floatingInput">Endereço ip</label>
        </div>

      </div>


    </form>

    <div class="mt-5 d-flex justify-content-center">
      <button type="submit" class="btn btn-inline-primary btn-lg allset-color-inline connect-button" (click)="connectCamera()">Conectar</button>
    </div>
  </div>

  <div *ngIf="showCameraStreaming == true">
    <iframe src="http://192.168.0.15/pages/hmi/" class="camera-view"></iframe>
  </div>
</main>

