<nav class="navbar navbar-expand-lg  home-header">
  <div class="container-fluid">
    <img class="logo-header" src="assets/images/logo-header.webp" alt="Allset - Automação Industrial" routerLink="/home"/>

    <div id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <h5 class="dropdown-toggle" [ngClass]="{'selected':router.url === '/home' || router.url ===  '/ produtos'}">Home</h5>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="/home" [ngClass]="{'selected':router.url === '/home'}">Geral</a></li>
            <li><a class="dropdown-item" routerLink="/produtos" [ngClass]="{'selected':router.url === '/produtos'}">Produtos</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">

          <h5 class="dropdown-toggle" [ngClass]="{'selected':router.url === '/produtos' || router.url === '/produtos/quantificacao-de-garrafas-em-engradados' || router.url === '/produtos/verificacao-de-rosca-interna-e-externa' || router.url === '/produtos/qualidade-e-medicao-de-pneus' || router.url === '/produtos/medicao-de-volume-em-processo-continuo' || router.url === '/produtos/controle-de-qualidade-na-fabricacao-de-biscoitos' || router.url === '/produtos/inspecao-de-rotulos-tampas-e-nivel-de-produto' || router.url === '/produtos/identificacao-de-irregularidades-em-bocal-ou-tampas' ||
          router.url === '/produtos/conferencia-de-embalagens' || router.url === '/produtos/leitor-de-caracteres-em-qualquer-material' || router.url === '/produtos/maquina-de-cubagem-pesagem-e-identificacao'}">Produtos</h5>

          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item"  routerLink="/produtos/quantificacao-de-garrafas-em-engradados" [ngClass]="{'selected':router.url === '/produtos/quantificacao-de-garrafas-em-engradados'}">Quantificação de garrafas em engradados</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/verificacao-de-rosca-interna-e-externa" [ngClass]="{'selected':router.url === '/produtos/verificacao-de-rosca-interna-e-externa'}">Verificação de rosca interna e externa</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/qualidade-e-medicao-de-pneus" [ngClass]="{'selected':router.url === '/produtos/qualidade-e-medicao-de-pneus'}">Qualidade e medição de pneus</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/medicao-de-volume-em-processo-continuo" [ngClass]="{'selected':router.url === '/produtos/medicao-de-volume-em-processo-continuo'}">Medição de volume em processo contínuo</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/controle-de-qualidade-na-fabricacao-de-biscoitos" [ngClass]="{'selected':router.url === '/produtos/controle-de-qualidade-na-fabricacao-de-biscoitos'}">Controle de qualidade na fabricação de biscoitos</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/inspecao-de-rotulos-tampas-e-nivel-de-produto" [ngClass]="{'selected':router.url === '/produtos/inspecao-de-rotulos-tampas-e-nivel-de-produto'}">Inspeção de rótulos, tampas e nível de produto</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/conferencia-de-embalagens" [ngClass]="{'selected':router.url === '/produtos/conferencia-de-embalagens'}">Conferência de embalagens</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/identificacao-de-irregularidades-em-bocal-ou-tampas" [ngClass]="{'selected':router.url === '/produtos/identificacao-de-irregularidades-em-bocal-ou-tampas'}">Identificação de irregularidades em bocal ou tampas</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/leitor-de-caracteres-em-qualquer-material" [ngClass]="{'selected':router.url === '/produtos/leitor-de-caracteres-em-qualquer-material'}">Leitor de caracteres em qualquer material</a></li>
            <li><a class="dropdown-item" routerLink="/produtos/maquina-de-cubagem-pesagem-e-identificacao" [ngClass]="{'selected':router.url === '/produtos/maquina-de-cubagem-pesagem-e-identificacao'}">Máquina de cubagem, pesagem e identificação</a></li>
          </ul>

        </li>
      </ul>
    </div>

    <div id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <h5 class="dropdown-toggle" [ngClass]="{'selected':router.url === '/feedback'}">Allset</h5>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="https://allset.com.br/nossa-empresa/valores/" target="_blank">Valores</a></li>
            <li><a class="dropdown-item" href="https://allset.com.br/nossa-empresa/como-trabalhamos/" target="_blank">Como trabalhamos</a></li>
            <li><a class="dropdown-item" href="https://allset.com.br/clientes/" target="_blank">Clientes</a></li>
            <li><a class="dropdown-item" href="https://allset.com.br/contato-e-localizacao/" target="_blank" >Contato</a></li>
            <li><a class="dropdown-item" routerLink="/allset/feedback" [ngClass]="{'selected':router.url === '/allset/feedback'}">Feedback</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
         <app-logout-modal></app-logout-modal>
      </div>
    </div>


  </div>
</nav>
