.selected {
  color: #2ea3f2;
  border-radius: var(--bs-border-radius) !important;
}

.home-header {
  background-color: #305977;
  height: 70px;
}

.logo-header {
  width: 16%;
}

a, h5 {
  color: white;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

a:hover {
  color: white;
}

.navbar {
  margin-bottom: 0;
  z-index: 1051;
}
