.selected {
  background-color: gray;
  border-radius: var(--bs-border-radius) !important;
}

.home-header {
  background-color: #305977;
  height: 70px;
}

.logo-header {
  width: 16%;
}

.teste {
  background-color: yellow;
}

a {
  color: white;
}
