.selected {
  background-color: gray;
  border-radius: var(--bs-border-radius) !important;
}

.home-header {
  background-color: #305977;
  height: 70px;
}

.logo-header {
  width: 16%;
}

a {
  color: white;
}

nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}
