.container {
  background-color: #bab2b2;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  width: 97%;
  margin-bottom: 30px;
}

.header-image {
  background-image: url("/assets/images/feedback.jpeg");
  height: 150px;
  padding-top: 27px;
}

h1 {
  color: white;
}
